.main {
  margin: 0;
  padding: 0;
  height: 100%;

  /* background-color: blueviolet; */

  color: white;

  /* font-family: "Roboto"; */

  perspective: 1px;
  transform-style: preserve-3d;
  overflow-y: scroll;
  overflow-x: hidden;
}

.Cover {
  position: relative;

  box-sizing: border-box;
  width: 100vw;
  min-height: 100vh;
  padding: 30vw 0 5vw;
}

.Cover h1 {
  margin-top: -100px;
}

.Cover,
.Cover:before {
  background: 50% 50% / cover;
}

.Cover::before {
  content: "";
  position: absolute;
  display: block;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;

  background-image: url("./Cover.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  transform-origin: center center 0;
  transform: translateZ(-1px) scale(2);
  z-index: -1;
}

.Cover * {
  margin: 0;
  padding: 1em 0;

  font-weight: normal;
  text-align: center;
  letter-spacing: 0.2em;
}

/*
Layout Properties (position, float, clear, display)
Box Model Properties (width, height, margin, padding)
Visual Properties (color, background, border, box-shadow)
Typography Properties (font-size, font-family, text-align, text-transform)
Misc Properties (cursor, overflow, z-index)
*/
