.main {
  margin: 0;
  padding: 0;
  height: 100%;

  /* background-color: blueviolet; */

  color: white;

  /* font-family: "Roboto"; */

  perspective: 1px;
  transform-style: preserve-3d;
  overflow-y: scroll;
  overflow-x: hidden;
}

.Cover * {
  margin: 0;
  padding: 0;
}

.Cover {
  position: relative;
  box-sizing: border-box;

  width: 100vw;
  min-height: 100vh;
  padding: calc(50vh - 3rem) 0 5vw;

  text-align: left;
  font-weight: normal;
  letter-spacing: 0.2em;
}

.Cover h1 {
  /* margin-top: calc(-10vh - calc(3rem / 2)); */
  font-size: 3rem;
  font-weight: 700;
}
.Cover p {
}
.Cover h1,
.Cover p {
  max-width: calc(50vw - calc(50px * 2));
  padding-right: 50px;
  padding-left: 50px;
  cursor: default;
}

.icons a i svg {
  width: 1.5rem;
  height: 1.5rem;
  font-size: 1.5rem;
  display: block;
  margin: auto;
}

.icons {
  padding-top: 20px;
  padding-left: 50px;
  position: absolute;
}
.icons a {
  color: white;
  text-align: center;
}
.icons a i {
  margin: 1rem;
  border-radius: 50%;
  width: 1.3rem;
  height: 1.3rem;
  font-size: 1.5rem;
  color: white;
  vertical-align: middle;
}
.icons a i:hover {
  animation: pulse 1.5s infinite;
}

.Cover,
.Cover:before {
  background: 50% 50% / cover;
}

.Cover::before {
  content: "";
  position: absolute;
  display: block;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* height: 100vh; */

  background-image: url("./Cover.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  transform-origin: center center 0;
  transform: translateZ(-1px) scale(2);
  /* overflow: hidden; */
  z-index: -1;
}

::selection {
  background: #aaa; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #aaa; /* Gecko Browsers */
}

.mouse {
  max-width: 2.5rem;
  width: 100%;
  height: auto;
}

.scroll {
  animation-name: scroll;
  animation-duration: 1.5s;
  animation-timing-function: cubic-bezier(0.65, -0.55, 0.25, 1.5);
  animation-iteration-count: infinite;
  transform-origin: 50% 20.5px;
  will-change: transform, opacity;
  opacity: 1;
}

.scroll-link {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
}

@keyframes scroll {
  0%,
  20% {
    transform: translateY(0) scaleY(1);
  }

  100% {
    transform: translateY(36px) scaleY(2);
    opacity: 0;
  }
}

@keyframes pulse {
  0% {
    -webkit-filter: drop-shadow(0px 0px 0px rgba(255, 255, 255, 0.8));
    filter: drop-shadow(0px 0px 0px rgba(255, 255, 255, 0.8));
  }
  70% {
    -webkit-filter: drop-shadow(0px 0px 15px rgba(255, 255, 255, 0));
    filter: drop-shadow(0px 0px 15px rgba(255, 255, 255, 0));
  }
  100% {
    -webkit-filter: drop-shadow(0px 0px 0px rgba(255, 255, 255, 0));
    filter: drop-shadow(0px 0px 0px rgba(255, 255, 255, 0));
  }
}
