.ToolbarItem {
  display: inline-block;
  line-height: 80px;
  padding: 0px 30px;
  text-transform: uppercase;
  transition: 0.3s ease-in;
}

.ToolbarItem:hover {
  background-color: white;
  color: black;
  transition: 0.3s ease-in;
  cursor: pointer;
}
