:root {
  --toolbar-height: 80px;
}

.Toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: var(--toolbar-height);
  padding: 0;
  box-sizing: border-box;
  display: flex;

  overflow: hidden;
  /* background-color: red; */
}
